// A file for common css across the application
html,
body {
  height: 100%;
}

.navbar-menu.is-active{
  background-color: $primary;
}

.title {
  color: $primary;
  margin-top: $title-margin-top;

  &.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

a {
  color: $info;
}

// affichage icon uniformisé
.button .icon, .button .icon.is-small, .icon{
  font-size: 0.75rem;
  align-items: center;
  display: inline-flex;
}

.inputAuth .control.has-icons-left .icon.is-left{
  top: 8px;
  font-size: 0.5rem;
  align-items: center;
}
.control.has-icons-left .icon, .control.has-icons-left .icon.is-left{
  top: 5px;
  left: 5px;
}
.control.has-icons-right .icon.is-right{
  top: 5px;
  right: 15px;
}

.clickable {
  cursor: pointer;
}
.icon.is-small {
  font-size: 0.75rem;
}
.link {
  cursor: pointer;
  &:hover {
    color: $dark;
    font-weight: bold;
  }
}
.hide {
  display: none;
}

// Input style

.input-field {
  margin-bottom: 1rem;

  .label {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      color: $light;
    }
  }
}

// Buttons style

.buttons {
  justify-content: flex-end;

  &:last-child {
    margin-bottom: 0;
  }

  .button {
    margin-bottom: 0;
  }
}

// Buefy/Bulma UI overrides
.notification a:not(.button):not(.dropdown-item){
  text-decoration: none;
}
.b-tabs .tabs.is-boxed li:not(.is-active) a:focus {
  background-color: $primary;
  color: white;
  font-weight: bold;
}

.tabs.is-boxed.is-right {
  ul {
    margin: 0;
    li a {
      text-decoration: none;
    }
  }
}
.b-tabs .tab-content {
  padding: 0.5rem;
}
.tabs.is-boxed{
  li.is-active  {
    a {
      color: $dark;
      text-decoration: none;
      font-weight: bold;
    }
    a:focus {
      background-color: $primary;
      color: white;
      font-weight: bold;
    }
  }
  a:hover{
    background-color: $primary;
    color: white;
    font-weight: bold;
  }
}
.dropdown-content{
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.5), 0 0px 0 1px rgba(10, 10, 10, 0.1);
}
.pagination-link.is-current {
  background-color: $dark;
  border-color: $dark;
}

.message .media {
  align-items: center;
}

.pagination-link.is-current {
  background-color: $dark;
  border-color: $dark;
}
.pagination {
  padding-bottom: 20px;
}

a.dropdown-item {
  display: flex;
  align-items: center;
}

.icon.is-right.is-small.is-clickable {
  color: $primary;
}
.select:not(.is-multiple):not(.is-loading)::after {
  border-color: $primary;
}
.select select:focus select:active {
  border-color: $dark;
}
.input:focus, .textarea:focus, .taginput .taginput-container.is-focusable:focus, .select select:focus, .is-focused.input, .is-focused.textarea, .taginput .is-focused.taginput-container.is-focusable, .select select.is-focused, .input:active, .textarea:active, .taginput .taginput-container.is-focusable:active, .select select:active, .is-active.input, .is-active.textarea, .taginput .is-active.taginput-container.is-focusable, .select select.is-active {
  border-color: $primary;
  box-shadow: 0 0 0 0.125em rgba(0, 163, 166,0.25);
}

a.dropdown-item.is-active, .dropdown .dropdown-menu .has-link a.is-active, button.dropdown-item.is-active {
  background-color: rgb(0,100,100);
}

.column.card .card-content .table td{
  vertical-align: middle;
}
.button.is-danger.is-light {
  color: $danger;
}
.button.is-primary.is-light {
  color: $dark;
}

.textarea:not([rows]) {
  min-height: 4em;
}
.icon.has-text-primary.is-medium {
  width: 32px;
}

// mise en forme modal card synthèse
#ranges {
  display: none;
}
#minmax {
  display: none;
}
.modal {
  .animation-content .modal-card {
    margin: auto;
  }
}

.liste:nth-child(2n) {
  background-color: rgba(239, 239, 239,0.5);
}
.liste {
  background-color: rgb(239, 239, 239);
}
.b-table .table td.is-sticky{
  position: initial;
  z-index: 0;
}

.svg-inline--fa.fa-info{
  height: 24px;
}

.modalCardRef .modal-background {
  background-color: rgba(10,10,10,0.25);
}
.modalArrayObj:nth-child(2n) {
  background-color: rgba(239, 239, 239,0.5);
}
.modalArrayObj {
  background-color: rgb(239, 239, 239);
  border-bottom: 1px solid rgba(128, 128, 128,0.3);
}
.b-table .table th.is-sortable, .b-table .table th.is-sortable .th-wrap {
  width: max-content;
}
